:root {
    --color-background-white: white;
    --color-background-dark: #463F3F;
    --color-text-black: black;
    --color-text-blue: #95AED0;
    --color-button-blue: #ACC2DF;
    --color-light-grey: #D9D9D9;
    --color-warning: red;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
}

/* index file */
/* header */
#indexHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#indexHeader #logo {
    position: relative;
}

#indexHeader #icon_sun {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

#icon_sun{
    animation: rotation 15s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#indexHeader #icon_moon {
    display: none;
    cursor: pointer;
}

/* main */

#indexMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#indexMain h1 {
    font-size: 1em;
    text-align: center;
    display: block;
}

.indexMain_article {
    font-size: 1em;
    padding: 3%;
    margin: 15% 15% 5% 15%;
    border: 0.03em dashed var(--color-text-black);
    text-align: center;
}

.indexMain_article h2 {
    font-size: 1em;
    margin-block: 8%;
}

.indexMain_article a {
    font-size: 1.1em;
    margin-block: 8%;
    color: var(--color-text-blue);
    display: block;
}

/* desktop index*/

@media screen and (min-width: 500px) {

    #indexMain_div_article {
        display: flex;
        flex-direction: row;
    }

    .indexMain_article {
        font-size: 1em;
        padding: 3%;
        margin-block: 10%;
    }
}

/* header for login and signup located in "includes */
#php_sign_login {
    width: 100%;
    height: 30%;
}

#php_sign_login #logo {
    position: relative;
}

#php_sign_login #icon_sun {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

#php_sign_login #icon_moon {
    display: none;
    cursor: pointer;
}

/* login and signup php form files*/

/* SIGN UP */
.main_signup {
    width: 100%;
    height: 50em;
    margin-top: -2em;
    border-block: 0.1em solid var(--color-light-grey);
    display: flex;
    flex-direction: row;
    /* mangle header */
    position: relative;
}

.main_signup .line {
    border-left: 2em solid var(--color-button-blue);
    height: 49.8em;
    display: block;
}

/* LOG IN */
.main_login {
    width: 100%;
    height: 28em;
    margin-top: -2em;
    border-block: 0.1em solid var(--color-light-grey);
    display: flex;
    flex-direction: row;
    /* mangle header */
    position: relative;
}

.main_login .line {
    border-left: 2em solid var(--color-button-blue);
    height: 27.9em;
    display: block;
}

/* COMMON FILES */
form {
    margin-inline: 15%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

form h1 {
    font-size: 2em;
    margin-block: 1em;
    text-align: center;
    display: block;
}

form p {
    display: block;
    color: var(--color-warning);
}

form label {
    font-size: 1.1em;
    font-weight: 600;
}

form input {
    margin-bottom: 1.3em;
    background-color: rgba(255, 255, 255, 0.547) !important;
    border: 0.1em solid var(--color-light-grey) !important;
    border-radius: 0 !important;
}

.form_btn {
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 20px;
    margin-top: 1em;
    background-color: var(--color-button-blue);
    border: 0.08em solid var(--color-text-black);
    box-shadow: 0px 5px 10px -4px var(--color-background-dark);
    align-self: center;
}

/* footer */
footer {
    text-align: center;
    height: 5em;
}

footer h2 {
    margin-top: 1em;
    font-size: 1.2em;
}

footer a {
    font-size: 1.1em;
    color: var(--color-text-blue);
    display: block;
}

/* desktop login and signup php form files*/
@media screen and (min-width: 600px) {
    .main_login .line {
        border-left: 5em solid var(--color-button-blue);
        height: 27.8em;
    }

    .main_signup .line {
        border-left: 5em solid var(--color-button-blue);
        height: 49.8em;
    }

    form {
        margin-inline: 30%;
    }

    form h1 {
        margin-bottom: 1em;
    }

    .form_btn {
        padding: 0.5em 3em 0.5em 3em;
    }
}